{# {% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
#}
    <img src="{{ asset('logo/Logo.jpg') }}" alt="Logo">
    <h1>Registration page:</h1>
    <h4>Join in our 'SolidGear' Order</h4>

    {{ form(registrationForm) }}
{# {% endblock %} #}

{# https://genlogo.com/pridumat-nazvanie-shag1/ #}
{# https://www.renderforest.com/ru/logo-suggestions #}